################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.mdf
*.ldf
/MvcMovie/Migrations
/MvcMovie/Resources/bin/Debug
/MvcMovie/Resources/obj/Debug
*.suo