################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.mdf
*.ldf
/MvcMovie/Migrations
/MvcMovie/obj/Debug
*.suo